<!-- ライブラリー画面 -->
<ons-page modifier="app" class="libraryPage" id="lib" ng-controller="LibraryCtrl as lib">

    <!-- ヘッダー領域 -->
    <header id="header">
        <!-- ナビゲーションバー -->
        <ons-toolbar modifier="app" class="libraryNavigationBar">
            <div class="left">
                <ons-button class="backButton" modifier="backButton" ng-click="navi.popPage({animation:'slide'})"><label><  Back</label></ons-button>
            </div>
            <div class="center"></div>
            <div class="right"></div>
        </ons-toolbar>
    </header>
        
    <!-- ライブラリー概要領域 -->
    <section id="libraryOverviewArea">
        <!-- タイトル画像 -->
        <ons-row class="libraryTitlePicture">
            <img ng-src="{{lib.libraryPicture}}" alt="" ng-cloak />
        </ons-row>
        
        <!-- 概要 -->
        <ons-row class="libraryOverview">
            <label ng-cloak>
                {{lib.libraryOverview}}<br>
            </label>
        </ons-row>
    </section>
    
    <!-- コンテンツリスト領域 -->
    <section id="libraryContentsListArea" ng-controller="ContentsListCtrl as con">
        <div class="libraryContentsList">
        
            <!-- リスト用の配列データがない場合に表示する -->
            <label>{{lib.contentsDataNone}}</label>
            
            <!-- アイテムを1列ずつループ表示（奇数項目で偶数項目の要素も合わせて表示し、偶数項目のループでは要素を表示しない） -->
            <!-- 要素が表示されないと終了判定が出来ないため、偶数項目の終了判定が出来なかった。そのため、今回はsectionを作成し偶数項目では空のsectionを出力することで見た目上の変化はなく対応した -->
            <section ng-repeat="cl in contentsList" repeat-finished-directive>
                <ons-row ng-if="$even">
                    <!-- リストアイテム -->
                    <!-- 左 -->
                    <ons-col class="libraryContentsListItem" ng-click="con.libraryTransition(cl.type,cl.url)">
                        <ons-button modifier="appbtn">
                            <img ng-src="{{cl.img}}" alt="" />
                            {{cl.name}}
                        </ons-button>  
                    </ons-col>
                    
                    <!-- 右 -->
                    <!--奇数項目では最終ループの右項目が空のまま押下できてしまうため、押下できない空の項目を表示する -->
                    <ons-col class="libraryContentsListItem" ng-click="con.libraryTransition(contentsList[$index+1].type,contentsList[$index+1].url)" ng-if="$last!=true">
                        <ons-button modifier="appbtn">
                            <img ng-src="{{contentsList[$index+1].img}}" alt="" />
                            {{contentsList[$index+1].name}}
                        </ons-button>  
                    </ons-col>
                    
                    <ons-col class="libraryContentsListItem" ng-if="$last==true">
                    
                    </ons-col>
    
                </ons-row>
            </section>
        </div>
    </section>
        
    <!-- インジケータ -->
    <ons-modal id="myModal" var="modal">
        <ons-progress-circular indeterminate></ons-progress-circular><br>
    </ons-modal>
    
    
</ons-page>