<ons-page id="movieList" ng-controller="MovieListCtrl as mlc">
        
    <ons-toolbar modifier="movieList">
        <div class="left">
            <ons-button class="backButton" modifier="" ng-click="navi.popPage({animation:'slide'})"><img src="views/img/back.png" alt="" /></ons-button>
        </div>
        <div class="center">
            <ons-button modifier="" ng-click="">
                <img src="views/img/menu/footer.jpg" alt="" />
            </ons-button>
        </div>
        <div class="right">
            <ons-button class="backButton" modifier="" ng-click="navi.popPage({animation:'slide'})"><img src="views/img/home.png" alt="" /></ons-button>
        </div>
    </ons-toolbar>
    
    <section class="moviePlayContentsHeader">　ヘッダー
        <div class="moviePlayContentsHeaderImage">
            画像配置予定
            <img src="" alt="" />
        </div>
    </section>
    
    <section class="moviePlayContentsList">
        リスト作成予定
    </section>
</ons-page>