<ons-page id="moviePlay" ng-controller="MoviePlayerCtrl as mpc">
        
    <ons-toolbar modifier="movieList">
        <div class="left">
            <ons-button class="" modifier="headerButton" ng-click="navi.popPage({animation:'slide'})"><img src="views/img/back.png" alt="" /></ons-button>
        </div>
        <div class="center">
            <img src="views/img/hp.jpg" alt="" />
        </div>
        <div class="right">
            <ons-button class="" modifier="headerButton" ng-click="navi.resetToPage('views/html/menu2.html', {animation:'lift'})"><img src="views/img/home.png" alt="" /></ons-button>
        </div>
    </ons-toolbar>
    
    <div class="moviePlayPage" style="background: url('views/img/background.jpg'); background-size: cover;">
        <div class="top">
            <div class="human">
                <img src="views/img/menu/girl.png" alt="" />
            </div>
            <div class="balloon">
                <span class="balloon-left">
                    {{mpc.name}}
                </span>
            </div>
        </div>
        <section class="moviePlayer">
            <iframe width="100%" height="100%" ng-src="{{mpc.url}}" frameborder="0" allowfullscreen ng-cloak></iframe>
        </section>
        <div class="under">
            <div class="human">
                <img src="views/img/menu/boy.png" alt="" />
            </div>
            <div class="balloon">
                <span class="balloon-right">
                    {{mpc.description}}
                </span>
            </div>
        </div>
    </div>
</ons-page>