/* This is a CSS file */

.page--menu__background{
    /*background: url('./../img/menu/background.jpg');*/
}

.page--menu{
    height: 100%;
    width: 100%;
}

div.menuDiv{
    height: 90%;
}




.title{
    width: 100%;
    height: 15%;
}
.title div{
    height: 100%;
    width: 100%;
    text-align: center;
}
.title div img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}



.news{
    width: 100%;
    height: 15%;
    text-align: center;
}
.news .info{
    width: 60%;
    height: 100%;
    margin: 0 20%;
    text-align: center;
}
.news div img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}





.buttonArea{
    width: 100%;
    height: 60%;
}
/*.buttonArea .movieLibrary_01{
    height: 50%;
    width: 100%;
    text-align: left;
}

div.human_01{
    height: 100%;
    width: 45%;
    display:inline-block;
}

div.icon_01{
    height: 100%;
    width: 45%;
    padding-top: 1%;
    padding-bottom: 1%;
    display:inline-block;
    text-align: center;
}

.icon_01 div:first-child{
    height: 50%;
    width: 45%;
    display:inline-block;
}
.icon_01 div:nth-child(2){
    height: 50%;
    width: 45%;
    display:inline-block;
}
.icon_01 div:nth-child(3){
    height: 50%;
    width: 45%;
    display:inline-block;
}

.icon_01 div:nth-child(4){
    height: 50%;
    width: 45%;
    display:inline-block;
}
.movieLibrary_01 img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}



.buttonArea .information_01{
    height: 50%;
    width: 100%;
    text-align: right;
}

.information_01 img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}*/



.faq{
    width: 100%;
    height: 10%; 
}
.faq .faqButton{
    width: 20%;
    height: 100%;
    margin-left: 80%;
}
.faq .faqButton img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}


.menuFooter{
    width: 100%;
    height: 10%;
}
.menuFooter .center{
    width: 100%;
    height: 100%;
    text-align: center;
}
.menuFooter .center img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}





























.buttonArea .movieLibrary_02{
    height: 55%;
    width: 100%;
    text-align: left;
    margin-bottom: 3%;
}

.movieLibrary_02 div.human_02{
    height: 75%;
    width: 40%;
    margin-left: 5%;
    vertical-align: top;
    display:inline-block;
}

div.icon_02{
    height: 100%;
    width: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
    display:inline-block;
    text-align: center;
}

.sports{
    height: 50%;
    width: 48%;
    display:inline-block;
}
.culture{
    height: 50%;
    width: 48%;
    display:inline-block;
}
.schoolLife{
    height: 50%;
    width: 48%;
    display:inline-block;
    margin-left: -35%;
}

.activity{
    height: 50%;
    width: 48%;
    display:inline-block;
}
.movieLibrary_02 img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}



.buttonArea .information_02{
    height: 50%;
    width: 100%;
    text-align: right;
}

.information_02 div.human_02{
    height: 75%;
    width: 40%;
    margin-right: 5%;
    display:inline-block;
}

.event{
    height: 50%;
    width: 48%;
    display:inline-block;
}
.article{
    height: 50%;
    width: 48%;
    display:inline-block;
    margin-right: -45%;
}
.examination{
    height: 50%;
    width: 48%;
    display:inline-block;
}

.map{
    height: 50%;
    width: 48%;
    display:inline-block;
    margin-right: -10%;
}

.information_02 img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}





/*commonに移動*/


.button--menuButton {
    background: none;
    box-shadow: none;
    text-shadow: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.button--menuButton:active {
    background: none;
    box-shadow: none;
    text-shadow: none;
}









/*.buttonArea .movieLibrary_03{
    height: 50%;
    width: 100%;
    text-align: left;
}
.movieLibrary_03 div.human_03{
    height: 50%;
    width: 100%;
}
.movieLibrary_03 div.icon_03{
    height: 50%;
    width: 100%;
    text-align: center;
}
.movieLibrary_03 .icon_03 div:first-child{
    height: 100%;
    width: 23%;
    display: inline-block;
}
.movieLibrary_03 .icon_03 div:nth-child(2){
    height: 100%;
    width: 23%;
    display: inline-block;
}
.movieLibrary_03 .icon_03 div:nth-child(3){
    height: 100%;
    width: 23%;
    display: inline-block;
}

.movieLibrary_03 .icon_03 div:nth-child(4){
    height: 100%;
    width: 23%;
    display: inline-block;
}

.movieLibrary_03 img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}




.buttonArea .information_03{
    height: 50%;
    width: 100%;
    text-align: right;
}
.information_03 div.human_03{
    height: 50%;
    width: 100%;
}
.information_03 div.icon_03{
    height: 50%;
    width: 100%;
    text-align: center;
}
.information_03 .icon_03 div:first-child{
    height: 100%;
    width: 23%;
    display: inline-block;
}
.information_03 .icon_03 div:nth-child(2){
    height: 100%;
    width: 23%;
    display: inline-block;
}
.information_03 .icon_03 div:nth-child(3){
    height: 100%;
    width: 23%;
    display: inline-block;
}

.information_03 .icon_03 div:nth-child(4){
    height: 100%;
    width: 23%;
    display: inline-block;
}

.information_03 img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}*/