/* This is a CSS file */

.page--menu__background{
    /*background: url('./../img/menu/background.jpg');*/
}

div.menuDiv{
    background-color: green;
    height: 90%;
}




.title{
    width: 100%;
    height: 15%;
    background-color: yellow;
}
.title div{
    height: 100%;
    width: 100%;
    text-align: center;
}
.title div img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}



.news{
    width: 100%;
    height: 20%;
    /*background-color: green;*/
    text-align: center;
}
.news div:first-child{
    width: 100%;
    height: 65%;
    text-align: center;
}
.news div:nth-child(2){
    height: 35%;
    width: 100%;
}


.news div img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}
.news div ons-button{
    height: 100%;
    width: 70%;
}
.buttonArea{
    width: 100%;
    height: 52%;
    background-color: black;
}
.buttonArea .movieLibrary{
    height: 50%;
    width: 100%;
}
.movieLibrary div{
    height: 100%;
    width: 100%;
}
.movieLibrary div img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}
.buttonArea .information{
    height: 50%;
}
.information div{
    height: 100%;
    width: 100%;
    text-align: right;
}
.information div img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}
.faq{
    width: 100%;
    height: 10%; 
    background-color: red;
}
.faq div{
    width: 100%;
    height: 100%;
    text-align: right;
}
.faq div img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}


.footer{
    width: 100%;
    height: 10%;
    background-image: url("views/img/menu/footer.jpg");
}
.footer .center{
    width: 100%;
    height: 100%;
}
.footer .center img{
    width: 100%;
    height: 100%;
}