
.navigation-bar--movieList .center{
    
    
}

.navigation-bar--movieList .left img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}
.navigation-bar--movieList .center img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
    
    vertical-align: middle;
}
.navigation-bar--movieList .right img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}

.moviePlayContentsHeader{
    height: 40%;
    width: 90%;
    padding: 5%;
    margin-top: 0%;
    background-color: orange;
}

.moviePlayContentsHeader .moviePlayContentsHeaderImage{
    height: 70%;
    width: 100%;
}

.moviePlayContentsList{
    height: 45%;
    width: 90%;
    padding: 5%;
    background-color: purple;
    
    overflow: scroll;
}




/* common */

.navigation-bar--movieList{
    background: white;
}