
#moviePlay{
}

#moviePlay .moviePlayPage{
    height: 100%;
    overflow: hidden;
    word-break: break-all;
}

#moviePlay img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}

#moviePlay .top{
    height: 30%;
    width: 100%;
    text-align: left;
    position: relative;
}

.top .human{
    height: 100%;
    width: 45%;
    position: absolute;
    top: 0;
    left: 0;
}
.top .balloon{
    height: 100%;
    width: 45%;
    position: absolute;
    top: 30%;
    right: 10%;
}
#moviePlay .moviePlayer{
    height: 40%;
    width: 100%;
}
#moviePlay .under{
    height: 30%;
    width: 100%;
    text-align: right;
    position: relative;
}
.under .human{
    height: 100%;
    width: 45%;
    position: absolute;
    top: 0;
    right: 0;
}
.under .balloon{
    height: 100%;
    width: 50%;
    position: absolute;
    top: 20%;
    left: 5%;
}
.balloon-left {
    position: relative;
    display: inline-block;
    padding: 5%;
	width: 100%;
    max-width: 100%;
	height: auto;
    max-height: 100%;
	color: #19283C;
	text-align: center;
	background: #ABD9FF;
	border: 3px solid #DFF0FF;
	z-index: 0;
    border-radius: 5px;
    font-size: 5vw;
}
.balloon-left:before {
	content: "";
	position: absolute;
	top: 50%; left: -8px;
	margin-top: -9px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 9px 9px 9px 0;
	border-color: transparent #ABD9FF transparent transparent;
	z-index: 0;
}
.balloon-left:after {
	content: "";
	position: absolute;
	top: 50%; left: -12px;
	margin-top: -10px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 10px 10px 0;
	border-color: transparent #DFF0FF transparent transparent;
	z-index: -1;
}



.balloon-right {
    position: relative;
    display: inline-block;
    padding: 5%;
	width: 100%;
    max-width: 100%;
	height: auto;
    max-height: 100%;
	color: #19283C;
	text-align: left;
	background: #ABD9FF;
	border: 3px solid #DFF0FF;
	z-index: 0;
    border-radius: 5px;
    font-size: 4.5vw;
}
.balloon-right:before {
    content: "";
	position: absolute;
	top: 50%; right: -8px;
	margin-top: -9px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 9px 0 9px 9px;
	border-color: transparent transparent transparent #ABD9FF;
	z-index: 0;
}
.balloon-right:after {
	content: "";
	position: absolute;
	top: 50%; right: -12px;
	margin-top: -10px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent #DFF0FF;
	z-index: -1;
}

/* 下記条件に当てはまらない端末 */


@media screen and (orientation: portrait){
    #moviePlay .moviePlayPage{
        height: 100%;
    }

}

@media screen and (orientation: landscape){

    #moviePlay .moviePlayPage{
        height: calc(100% * ((16/9)*(16/9)));
    }
}



/* スマートフォン（16:9) */

@media screen and (orientation: portrait) and (min-width: 320px) and (min-height: 480px){
    #moviePlay .moviePlayPage{
        height: 100%;
    }
}
@media screen and (orientation: landscape) and (min-height: 320px) and (min-width: 480px){
    #moviePlay .moviePlayPage{
        height: calc(100% * ((16/9)*(16/9)));
    }
}

/* タブレット（16:10) */

@media screen and (orientation: portrait) and (min-width: 480px) and (min-height: 768px){
    #moviePlay .moviePlayPage{
        height: 100%;
    }
}


@media screen and (orientation: landscape) and (min-height: 480px) and (min-width: 768px){
    #moviePlay .moviePlayPage{
        height: calc(100% * ((16/10)*(16/10)));
    }
}

/* iPad系（4:3) */

@media screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) and (min-height: 1024px) and (max-height: 1366px) {

    #moviePlay .moviePlayPage{
        height: 100%;
    }
}
@media screen and (orientation: landscape) and (min-height: 768px) and (max-height: 1024px) and (min-width: 1024px) and (max-width: 1366px) {
    #moviePlay .moviePlayPage{
        height: calc(100% * ((4/3)*(4/3)));
    }
}